<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css">

</head>

<body>

  <hr />
  <h1> Fun With Movies</h1>
  <hr />

  {{{body}}}
</body>

</html>